@model Assignment.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Event Details</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Optional_Services)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Optional_Services)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BasePrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BasePrice )
                </dd>
            </dl>
        </div>
        <div class="col-xs-12 col-sm-6">
            @*<p>
                    @Html.DisplayName("Promo Image")
                </p>*@
            <div>
                <img class="img-thumbnail" height="150" width="250" src="@Url.Content("~/Uploads/" + Model.ImagePath)" />
            </div>
        </div>
    </div>
    @if (!User.IsInRole("Staff"))
    {
        <div class="form-group">
            <div class="col-md-offset-2">
                @Html.ActionLink("Book Event", "Create", "Bookings", new { id = Model.Id }, new { @class = "btn btn-primary col-xs-12 col-sm-2" })
            </div>
        </div>
    }
    <br />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>
<link href="~/Content/index.css" rel="stylesheet" />