@model IEnumerable<Assignment.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Bookings</h2>
<hr />
@if (@ViewBag.Result != null)
{
    <div class="alert alert-info">@ViewBag.Result</div>
}
@if (Model.ToList().Count == 0)
{
    <p>No bookings available.</p>
}
else
{
    if (User.IsInRole("Staff"))
    {
        <div id="linkToChart">@Html.ActionLink("View the event booking distribution as chart", "Chart")</div>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Event.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EventDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookingDate)
                </th>
                <!--@if (User.IsInRole("Staff"))
                {
                    <th>
                        @Html.DisplayName("Customer Name")
                    </th>
                }-->
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfPeople)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <!--@if (User.IsInRole("Staff"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                    }-->
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfPeople)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @if (item.Rating != null && item.Status.Equals("Confirmed"))
                        {
                            <span> Rated: @item.Rating | </span>
                        }
                        else
                        {
                            if (!this.User.IsInRole("Staff"))
                            {
                                    if (item.EventDate.CompareTo(DateTime.Today) >= 0)
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.BookingId })
                                        <span> | </span>
                                        @Html.ActionLink("Cancel", "Delete", new { id = item.BookingId })
                                        <span> | </span>
                                    }
                                    else if(item.Status.Equals("Confirmed"))
                                    {
                                        @Html.ActionLink("Rate", "Rate", new { id = item.BookingId })
                                        <span> | </span>
                                    }
                            }
                        }
                        @if (this.User.IsInRole("Staff") && item.Status.Equals("Pending") && item.EventDate.CompareTo(DateTime.Today) >= 0)
                        {
                            @Html.ActionLink("Confirm", "Confirm", new { id = item.BookingId })
                            <span> | </span>
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.BookingId })
                    </td>
                </tr>
            }
        </tbody>
    </table>


}


@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/index.css" rel="stylesheet" />